

  <div id="white_navbar" style='position: fixed; 
    width: 100%;
    top: 75px;
    left: 0px; z-index: 9998;'>
      <nav>
        <div class="links">
          <%=link_to 'design', designs_path%>
          <%=link_to 'programming', programs_path%>
          <%=link_to 'blog', blog_index_path%>
          <%=link_to 'about',  about_path %>
        </div>
      </nav>
  </div>


<%= image_tag('digi-design.jpg', style: 'width: 100%;') %>
<div class="logo_type_not_home" id='design_logo'>
    <h1>design</h1>
    <div id='hr_holder__1'><hr></div>
    <div id='hr_holder__2'><hr></div>
</div>

<div class="design_wrapper__index">
  <%@designs.each_with_index do |d, idx|%>
    <div class='design_container'>
      <%if d.gallery%>
        <div class='thumb_container__index'>
          <% d.gallery.photos.sort_by {|pic| pic.pic_file_name}.each do |img| %>
            <div class='thumb_box__index'>
              <%= link_to image_tag(img.pic.url, class: 'thumb__index'), design_path(d) %>
            </div>
          <%end%>
        </div>
      <%end%>
      <div class='design_desc__index'>  
        <%= d.description %><br>
        <%= link_to d.title, design_path(d) %> <small>for <%= d.client_name %></small>
      </div>
    </div>
    <br>
    <br>
    <br>
  <% end %>

  <br>
  <br>
  <br>
</div>