<div class="logo_type_not_home">
  <h1>code</h1> 
  <div id='hr_holder__3'><hr></div>
</div>

<div class="program_wrapper__index">

  <% @programs.each_with_index do |program, idx| %>
    <% photos = program.gallery.photos %>

    <div id='clearfix'>

        <div style='float: left'>

          <div class='program_thumb_container_1'>
            <% photos.first(4).each do |img| %>
              <div class='thumb_box'>
                <%= image_tag img.pic.url, class: 'program_thumb', data: {index: "#{idx}"} %>
              </div>
            <% end %>
          </div>

          <% if photos.length > 4 %>
            <div class='program_thumb_container_2'>
              <% photos.last(photos.length - 4).each do |img| %>
                <div class='thumb_box'>
                  <%= image_tag img.pic.url, class: 'program_thumb', data: {index: "#{idx}"} %>
                </div>
              <% end %>
              <% (8 - photos.length).times do |place_holder| %>
                <%= image_tag "placeholder_thumb", class: 'place_holder' %>
              <%end%>
            </div>
          <%end%>
        </div>


        <div class="program_view_container" id=<%="view_#{idx}"%>>
          <%= image_tag program.gallery.photos.first.pic.url, class: 'highlight_image' %>
        </div>

        <div id='program_details'>
          <%= program.description %><br>
          Demo link: <%= program.demo %><br>
          Live link: <%= program.link %>
        </div>

    </div>

    <% if idx < @programs.length - 1 %>
    <hr id='program_break'>
    <% end %>
    <br><br>

  <%end%>

</div>