<div class="wrapper">
  <h1>Hi Don!</h1>

  <%=form_for @program, html: { multipart: true } do |f| %>
    <%=f.label :title %><br>
    <%=f.text_field :title %>
    <br>
    <%=f.label :description %><br>
    <%=f.text_area :description %>
    <br>
    <%=f.label :link %><br>
    <%=f.text_field :link %>
    <br>
    <%=f.label :demo %><br>
    <%=f.text_field :demo %>
    <br>

    <h5>Gallery Images:</h5>
      <%= f.fields_for @program.gallery do |gal|%>
        <%= gal.label :name %><br>
        <%= gal.text_field :name%><br><br>
        <%= gal.label :photos %><br>
        <small>min 4</small><br>
        <%= file_field_tag "photos[]", type: :file, multiple:true %>
      <% end %>    

    <%=f.submit%>
  <%end%>
</div>

