<div id="white_navbar" style='position: fixed; 
  width: 100%;
  top: 75px;
  left: 0px; z-index: 9998;'>
    <nav>
      <div class="links">
        <%=link_to 'design', designs_path%>
        <%=link_to 'programming', programs_path%>
        <%=link_to 'blog', blog_index_path%>
        <%=link_to 'about',  about_path %>
      </div>
    </nav>
</div>

<%= image_tag('blog_pencil.jpg', style: 'width: 100%;') %>

<div class="logo_type_not_home">
    <h1>blog</h1>
    <div id='hr_holder__4'><hr></div>
</div>

  <div class="wrapper">

    <% @posts.each do |post| %>
      <h3 id='index_headline'><%=link_to post.headline, blog_path(post)%></h3>
      <%if post.icon && post.icon.icon.url(:thumb) != '/images/thumb/missing.png' %>
        <%= image_tag post.icon.icon.url, class: 'title_icon', id: 'index_headline_icon' %>
      <%end%>
      <h4><%=post.date%></h4>
      <p class='post_wrapper__index' id=<%="post_" + "#{post.slug}"%>><%= truncate(post.content, length: 280) {link_to "more", blog_path(post)} %></p>
      <br>
    <%end%>

    <br>

  </div><!--.wrapper-->