<div class="wrapper">
<h1>Hi Don!</h1>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%=form_for @post, url: blog_index_path, html: { multipart: true } do |f| %>

<%=f.label :headline %><br>
<%=f.text_field :headline %>
<br>
<%=f.label :date %><br>
<%=f.text_field :date %>
<br>
<%=f.label :content %><br>
<%=f.text_area :content %>
<br>
<%=f.label :created_at %>
<%=f.datetime_select :created_at%>
<br>

<h5>Icon:</h5>
    <%= f.collection_select :icon_id, Icon.all, :id, :name, include_blank: true %>
<h5>New Icon:</h5>
    <%= f.fields_for :icon do |ico| %>
      <%= ico.label :name %><br>
      <%= ico.text_field :name %><br>
      <%= ico.label :icon %><br>
      <%= ico.file_field :icon %>
    <% end %>

<h5>Gallery Images:</h5>
  <%= f.fields_for @post.gallery do |gal|%>
    <%= gal.label :name %><br>
    <%= gal.text_field :name%><br>
    <%= gal.label :photos %><br>
    <%= file_field_tag "photos[]", type: :file, multiple:true %>
  <% end %>    

<%=f.submit%>
<%end%>

</div>
