<div class="logo_type_not_home">
  <h1 id='postdate'><%=@post.date%></h1> 
</div>

<div class="post_wrapper">

  <%if @post.icon && @post.icon.icon.url(:thumb) != '/images/thumb/missing.png'%>
    <h3 id='post_headline_with_icon'><%=@post.headline%></h3>
    <%= image_tag @post.icon.icon.url, class: 'title_icon', id: 'headline_icon' %>
    <br>
  <%else%>
    <h3 id='post_headline'><%=@post.headline%></h3>
  <%end%>
  <div class='post_content'>
    <p><%= simple_format(@post.content)%></p>
    <br>
    <%= link_to 'edit post', edit_blog_path(@post) unless !current_user%>
    <br>
  </div>

  <div class='post_gallery'>

    <%if @post.gallery%>
      <%@post.gallery.photos.each_with_index do |img, i|%>
        <caption><small><%="img #{i + 1}"%>.</small></caption><%= image_tag img.pic.url(:medium_horiz) %>
      <%end%>
    <%end%>
    <p style='visibility: hidden;'>.</p>
  </div>

</div>