<div class="logo_type_not_home">
  <h1 id='postdate'><%=@post.date%></h1> 
</div>

<div class="post_wrapper">

  <%if @post.icon && @post.icon.icon.url(:thumb) != '/images/thumb/missing.png'%>
    <h3 id='post_headline_with_icon'><%=@post.headline%></h3>
    <%= image_tag @post.icon.icon.url, class: 'title_icon', id: 'headline_icon' %>
    <br>
  <%else%>
    <h3 id='post_headline'><%=@post.headline%></h3>
  <%end%>
  <div class='post_content'>
    <%= link_to 'prev', blog_path(@prev_post) if @prev_post%>
    <%= link_to 'next', blog_path(@next_post) if @next_post%>
    <p><%= simple_format(@post.content, {}, :sanitize => false)%></p>
    <br>
    <%= link_to 'edit post', edit_blog_path(@post), id: 'program_edit' unless !current_user%>
    <br>
  </div>

  <div class='post_gallery'>

    <%if @post.gallery%>
      <%@post.gallery.photos.each_with_index do |img, i|%>
        <%= image_tag img.pic.url, class: "post_image post_image_#{i + 1}" %>
      <%end%>
    <%end%>
    <p style='visibility: hidden;'>.</p>
  </div>

</div>