<% content_for :home_nav do %>
    <div id='nav_tree__container'>
      <div id='about_link'><%=link_to image_tag('sig_pic.png', id:'donpic_homepage'), about_path %>
      <%=link_to image_tag('sig_pic_hover.png', id:'donpic_homepage_hover'), about_path %></div>
      <%=link_to designs_path do%>
        <div class='link_holder' id='design_link'>design</div>
      <%end%>
      <%=link_to programs_path do%>
      <div class='link_holder' id='programming_link'>programming</div>
      <%end%>
      <%=link_to programs_path do%>
      <div class='link_holder' id ='blog_link'>blog</div>
      <%end%>
    </div>
<% end %>


<div class="wrapper">

<div class="logo_type">
  <div id="logo_type_1">
    <h1><a id='home_head' href='/designs'><span class='don_design'>design</span></a></h1> 
    <h1><a id='home_head' href='/programs'><span class='don_program'>program</span></a></h1>
  </div>

  <div id="logo_type_2">  
    <h1><a id='rinse_link' href='/blog'><span class='don_rinse'>rinse</span></a></h1>
    <h1><a id='repeat_link' href='/about'>repeat</a></h1>
  </div>
</div>

</div>