<!DOCTYPE html>
<html>
<head>
  <title>DonDotCom</title>
  <%= favicon_link_tag "df.ico" %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <% if content_for? :about_nav %>
    <div class = "wrapper_blocker">
    </div>
    <%= yield :about_nav %>
  <% elsif content_for? :home_nav %>
    <!-- No pic on this page -->
  <% elsif content_for? :design_show %>
  <div class = "wrapper_blocker">
    <div id="navbar">
      <nav id="navbar">
        <div class="links show_links">
          <%=link_to 'design', designs_path%>
          <%=link_to 'programming', programs_path%>
          <%=link_to 'blog', blog_index_path%>
          <%=link_to 'about',  about_path %>
        </div>
      </nav>
    </div>
  </div>
    <%=link_to image_tag('sig_pic.png', id:'donpic_down'), root_path %>
  <% else %>
    <div class = "wrapper_blocker transparent"></div>  
    <%=link_to image_tag('sig_pic.png', id:'donpic'), root_path %>
  <%end%>

  <% if content_for? :home_nav %>
     <%= yield :home_nav %>
    </div><!-- #navbar -->
  <% end %>
</header>

<%= yield %>

<footer>
  &copy; 2016 &nbsp; <a href='/about'><span class='don'>Don Febbraio</span></a> &nbsp; All Rights Reserved. &nbsp;

  <%=link_to image_tag('email-icon.png', class: 'social_links'), 'mailto:donedesign1@gmail.com?Subject=donfebbraio.com', class: 'Email Me'%>

  <%=link_to image_tag('twitter-icon.png', class: 'social_links', alt: "Twitter Icon"), 'https://twitter.com/Donnief3', class: 'twitter' %>

  <%=link_to image_tag('github-icon.png', class: 'social_links', alt: "Github Icon"), 'https://github.com/febbraiod', class: 'github' %>

  <%=link_to image_tag('linkedin-icon.png', class: 'social_links', alt: "LinkedIn Icon"), 'https://www.linkedin.com/in/don-febbraio-10ab0b10a', class: 'linkedin' %>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
</body>
</html>
